services:
  bd:
    image: bitnami/postgresql
    container_name: nekso-bd
    ports:
      - "5432:5432"
    environment:
      - POSTGRESQL_USERNAME=nekso
      - POSTGRESQL_PASSWORD=nekso
      - POSTGRESQL_DATABASE=nekso
  api:
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=postgres://nekso:nekso@nekso-bd:5432/nekso
      - JWT_SECRET=secret
      - PORT=3333
    container_name: nekso-api
    ports:
      - "3333:3333"
    depends_on:
      - bd
    command: >
      sh -c "npx drizzle-kit migrate && npm run build && npm start"
